<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adm | Sign in</title>
    <link rel="stylesheet" href="/static/css/auth/sign-in.css">
</head>
<body>
    <div class="login-container">
    <h1>Вход в админ панель</h1>
    <form id="login-form">
        <input type="text" name="username" placeholder="Логин" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Войти</button>
    </form>
</div>
</body>
</html>