version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: diploma-db
    restart: always
    environment:
      POSTGRES_USER: ilya
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: clinic
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  auth:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    container_name: auth-service
    ports:
      - "50051:50051"
    depends_on:
      - postgres
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_SSLMODE: ${DB_SSLMODE}
      JWT_KEY: ${JWT_KEY}

  gateway:
    build:
      context: .
      dockerfile: gateway/Dockerfile
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth
    environment: 
      JWT_KEY: ${JWT_KEY}

  admin:
    build:
      context: .
      dockerfile: admin-service/Dockerfile
    container_name: admin-service
    ports: 
      - "50052:50052"
    depends_on:
      - postgres
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_SSLMODE: ${DB_SSLMODE}
      JWT_KEY: ${JWT_KEY}

volumes:
  postgres_data:
