version: "3.9"

services:
  auth:
    build:
      context: .
      dockerfile: server/Dockerfile
    container_name: auth-service
    ports:
      - "50051:50051"

  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth
