body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: #f2f2f2;
}

tr:nth-child(even) {
    background: #fafafa;
}

.actions {
    display: flex;
    gap: 6px;
}

button {
    cursor: pointer;
    padding: 5px 10px;
}

.green { background:#4CAF50; color:white; }
.orange { background:#ff9800; color:white; }
.red { background:#f44336; color:white; }
.blue { background-color: rgb(39, 39, 255); color: white}
