<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/css/admin/panel.css">
</head>
<body>

<!-- ===== HEADER ===== -->

<header>
    <div class="logo">⚙ Admin</div>

    <nav>
        <a href="adm/users">Список пользователей</a>
        <a href="adm/admins">Админы</a>
        <a href="adm/employees">Сотрудники</a>
        <a href="adm/history">История</a>
        <a href="adm/schedule">Расписание</a>
    </nav>
</header>
<script src="/static/js/admin/panel.js"></script>
</body>
</html>
